<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1 id="title">
    {{title}}
  </h1>
    <ul id="userMenu" class="pull-right">
      <li class="dropdown signedIn">
          <a href="#" id="signedInUser" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Welcome <br>{{username}}<span class="glyphicon glyphicon-menu-down"></span></a>
          <ul class="dropdown-menu sub-menu">           
            <li>Sign-Out</li> 
          </ul>
        </li>

        
      <li><a href="#" class="cstm_help">
        <span class="small-font-size glyphicon glyphicon-question-sign"></span>Help</a></li>     
  </ul>
</div>
<div class="main-content">
		<nav class="navbar navbar-default">			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav" id="global-navigation">              
              <li><a routerLink="/viewteamschedule">View Team Schedule</a> </li>
              <li><a routerLink="/ManageMyActivities">Manage My Activities</a> </li>
              <li><a routerLink="/MyresourceRequests">My Resource Requests</a></li>
              <li><a routerLink="/Reports">Reports</a></li>
              <li><a routerLink="/administration">Administration</a></li>
              <li><a routerLink="/ScenarioModeling">Scenario Modeling</a></li>
              <li><a routerLink="/TimeEntry">Time Entry</a></li>
          </ul>
				</div>			
		</nav>
</div>
  
  <div id="main-body" style="text-align:center">
      <router-outlet></router-outlet>
  </div>